<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - moment 1-1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/moment1-1.styles.css" asp-append-version="true" />
    
</head>


<body>
    <div class="page-container">
        <div class="content-wrap">

                <!--Header med logo-bild och dagens datum och klockslag -->
                <div class="headerlogo">

                    <div class="logo">
                        <a class="logolink" asp-area="" asp-page="/Index"><img src="/images/logo.jpg"></a>       
                    </div>

                    <div class="logodate">
                        @{
                            var date= DateTime.Now.ToString("yyyy-MM-dd");
                        }
                        Dagens datum är: @date
                    </div>
                </div>


            <div class="big-container">
                    <!--Meny-->
                    <div class="menu-container">
                        <nav>
                            <ul>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Razor">Razor</a>
                                </li>

                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/About">Om mig</a>
                                </li>

                            </ul>
                        </nav>
                    </div>

                    <!--Container för Page-->
                    <div class="main-container">
                        <main>
                        @RenderBody()
                        </main>
                    </div>

            </div>
        
    </div>
    <!--Footer-->
    <footer class="footer">
        <div class="foot-container">
            Av Sabina Törnell - Kontakta mig via e-post: sato2200@@student.miun.se 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
  </div>
</body>
</html>