html {
  font-size: 14px;
}

body{
  background-color: rgb(224, 191, 255);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#selfportrait{
  width: 30%;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

h1{
  color:#258cfb;
}

.abouth1{
  color:rgb(226, 103, 220);
}

.catbutton{
  border-radius: 10px;
  padding:15px;
  background-color: rgb(209, 160, 255);
  color:white;
}

#imageElement{
  width: 20%;
  margin: auto;
}