@page
@model IndexModel
@{
    ViewData["Title"] = "Om mig";
}

<div class="text-center">
    <h1 class="abouth1">Om mig</h1>
    <p>Jag som skapat denna sida heter Sabina och jag är student på Mittuniversitetet</p>
    <p>Lila och gul är några av mina favoritfärger!</p>

    <p>Jag bad AI:n DALL-E att måla mig med insperation av Renoir. Här är resultatet:</p>
    <img id="selfportrait"src="/images/selfportrait.jpg">
   <p> (Rör vid bilden!) </p>

</div>
