@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <h2>Detta är mom1.1 i kursen "Webbutveckling med .NET</h2>
    <p>I detta moment har jag skapat en webbplats med ASP.NET och Razor.</p>
    <p>Kravet för denna uppgift är att det ska finnas en startsida, en sida om Razor och en Om-sida</p>
    <p>Vill du se en katt?</p>
    <button class="catbutton" onclick="catImage()">JA, jag vill se en katt!</button>
    <img id="imageElement" style="display: none;" src="/images/cats.jpg" alt="En bild">
</div>



    
